@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    background: #e9e2d5;
    font-family: 'Rubik', sans-serif;
}

#navbar {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    margin: 1rem 20vw;
    width: 60vw;
    z-index: 1;
}

#navigations {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 1rem;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    background-color: #d95d68;
    color: white;
    border-radius: 0.5rem;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: black;
    text-decoration: underline;
}

a:hover {
    color: #d95d68;
}

ul {
    list-style: none;
}

h1 {
    font-size: 40px;
    font-weight: 600;
}

h1,
h2 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 6rem 20vw;
    gap: 4rem;
}


.film-image {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.3rem;
    display: flex;
    align-items: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li,
p {
    margin: 20px 0;
    line-height: 2rem;
}

#survey-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#submit {
    font-family: 'Rubik', sans-serif;
    border-radius: 1rem;
    font-size: 1rem;
    background-color: white;
    color: black;
    border-radius: 0.5rem;
}


#submit:hover {
    transform: scale(1.1);
}

.illustration {
    margin-top:1rem;
}

body {
    margin:0;
}

form{
    max-width: 600px;
    width: 90%;
    background: #d95d68;
    margin: 8vh auto 0 auto;
    padding: 40px;
    border-radius: 1rem;
    box-sizing: border-box;
}

h1{
margin: 0;
text-align: center;
}

label {
    display: block;
    margin: 20px 0;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid white;

}

textarea::-webkit-scrollbar{
    width: 4px;
}
.center {
    text-align: center;
}

input[type="submit"]{ 
   text-align: center;
   margin-top: 30px;
   width: 90%;
   max-width: 200px;
   color: black;
   font-size: 17px;
   cursor: pointer;
   border-radius: 3px;
   background-color: white;
}

#submit-section{
    display:flex;
    justify-content: center;
}